body {
	--color-black: #000;
	--color-white: #fff;

	--gap: 1rem;

	--font-default: 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,
		'Lucida Grande', sans-serif;

	--width-headshot: 25rem;
	--width-image-length: min(30rem, 100%);
	--width-text-length: min(40rem, 100%);
	--width-section: min(73rem, 100%); /* img+text widths + gap*/

	align-items: center;
	background: #f8f8f8;
	display: flex;
	font-family: Arial, Helvetica, sans-serif;
	flex-direction: column;
	gap: var(--gap);
	margin: 0 auto;
	padding: 0;
}

h1,
h2,
p {
	margin: 0;
}

sup {
	font-size: 80%;
	line-height: 0;
}

p {
	margin-top: 0;
}

p {
	max-width: var(--width-text-length);
	line-height: 135%;
	font-size: 1.1rem;
}

/* REUSEABLE-ELEMENTS */
section:not(.hero) {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	grid-template-columns: 100%;
	grid-template-rows: repeat(4, auto);
	justify-content: space-evenly;
	padding: var(--gap);
	padding-top: 0;
	width: var(--width-section);

	h2 {
		flex-basis: 100%;
		margin-right: auto;
		max-width: calc(var(--width-text-length) + (var(--gap) * 3));
	}

	.col {
		display: flex;
		gap: var(--gap);
		flex-direction: column;
		width: var(--width-text-length);
	}

	footer {
		color: #555;
		font-size: 0.8rem;
		margin: 0 auto;
		max-width: min(var(--width-text-length), 100%);
		text-align: center;
	}
}
/* @note this ensures that section>h2 tags are left aligned with the <figure>s/text */
@media (max-width: 74rem) {
	body {
		--width-section: min(42rem, 100%); /* text width + gap*/
	}
}

/* REUSEABLE-ELEMENTS/BUTTON */
.button {
	--color-button-fx: transparent;

	&.dark {
		--color-theme: #555;
		--color-text: #fff;
		--color-bottom: #0009;
	}

	&.light {
		--color-theme: #eee;
		--color-text: #222;
		--color-bottom: #0009;
	}

	align-items: center;
	background-color: var(--color-theme);
	/** @note wrapping the gradient in a reusable variable seems to interfere with the updating of the fx color variable. Thus this is left as is until there comes a time where that issue can be resolved. */
	background-image: linear-gradient(
		to bottom,
		var(--color-button-fx) 0%,
		var(--color-button-fx) 1.8rem,
		var(--color-bottom) 1.8rem
	);
	border: none;
	color: var(--color-text);
	border-radius: 0.2rem;
	display: inline-flex;
	height: 2rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	text-decoration: none;
	transition: background-image 0.2s, transform 0.2s ease-in-out;
	user-select: none;

	&:hover {
		--color-button-fx: #fff2 !important;
		cursor: pointer;
	}
	&.light:hover {
		--color-button-fx: #0001 !important;
	}

	&:focus {
		--color-button-fx: #0004 !important;
		cursor: pointer;
		outline: none;
	}

	&.light:focus {
		--color-button-fx: #0005 !important;
	}

	&:focus {
		transform: scale(1, 0.9) translate(0, 0.2rem);
	}

	& img {
		height: 1.5em;
		vertical-align: center;
	}
}

.button-group {
	display: inline-flex;
	gap: 0.5rem;
	justify-content: center;
}
/* REUSABLE-ELEMENTS/FIGURE */

.full-width {
	box-sizing: border-box;
	width: 100%;
}

figure {
	aspect-ratio: 3 / 2;
	box-sizing: border-box;
	margin: 0;
	position: relative;
	width: var(--width-image-length);

	figcaption {
		bottom: 0;
		font-size: 0.8rem;
		left: 0;
		text-align: center;
		width: 100%;
	}
}
/* REUSABLE-ELEMENTS/APP-ICONS */
[src^='img/icon'] {
	--length: 7.5ch;
	border-radius: 25%;
	box-shadow: 0 0 calc(var(--length) / 10) #000;
	height: var(--length);
	width: var(--length);

	&[data-corner='top-left'] {
		transform: translate(-50%, -50%);
	}
	&[data-corner='top-right'] {
		transform: translate(50%, -50%);
	}
}

/** @note centers an item (relative to its own dimensions) around one of its parent's corners */
[data-corner] {
	position: absolute !important;
}
[data-corner='bottom-right'] {
	right: 0;
	bottom: 0;
}
[data-corner='top-left'] {
	left: 0;
	top: 0;
}
[data-corner='top-right'] {
	right: 0;
	top: 0;
}
/* REUSABLE-ELEMENTS/SHAPES */
[data-shape] img:first-child {
	display: block;
	width: 100%;
}
/* SPECIFIC ELEMENTS */
.headshot {
	aspect-ratio: 1/1;
	aspect-ratio: 4 / 3;
	background-image: url('./img/2025-headshot.png');
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;
	display: block;
	filter: drop-shadow(0 -0.25rem 0.5rem #0003);
	width: var(--width-headshot);
}

/* <SPECIFIC-ELEMENTS/SHAPES> */
[data-shape='tv'] {
	--base-unit: min(40ch, 75vw);
	--border: calc(var(--base-unit) * 0.01875);

	border: var(--border) solid #000;
	border-radius: var(--border);
	box-shadow: 0 0 var(--border) #000;
	display: inline-block;
	position: relative;
	margin-bottom: calc(var(--border) * 2);
	margin-left: calc(var(--border) * 4.75);
	margin-top: calc(var(--border) * 4.75);

	&::before {
		background: #000;
		background-image: linear-gradient(to left, #fff3, #0003);
		border-bottom-left-radius: var(--border);
		border-radius: var(--border);
		bottom: -9.5%;
		box-shadow: 0 0 var(--border) #000;
		content: '';
		height: 10%;
		left: 1.25%;
		position: absolute;
		transform: rotate(30deg);
		width: calc(var(--border) * 1.25);
		z-index: -1;
	}
	&::after {
		background: #000;
		background-image: linear-gradient(to left, #fff3, #0003);
		border-bottom-left-radius: var(--border);
		border-radius: var(--border);
		bottom: -9.5%;
		box-shadow: 0 0 var(--border) #000;
		content: '';
		height: 10%;
		position: absolute;
		right: 1.25%;
		transform: rotate(-30deg);
		width: calc(var(--border) * 1.25);
		z-index: -1;
	}

	img:first-child {
		width: var(--base-unit);
	}
}

[data-shape='ipod'] {
	--base-unit: min(25ch, 46.875vw);
	--border: calc(var(--base-unit) / 7.5);

	aspect-ratio: 3 / 2;
	background-color: black;
	border: var(--border) solid #000;
	border-bottom-width: calc(var(--border) / 4);
	border-top-width: calc(var(--border) / 4);
	border-radius: calc(var(--base-unit) * 0.033);
	box-shadow: 0 0 calc(var(--border) / 4) #000;
	position: relative;
	width: var(--base-unit);

	&::before {
		--diameter: calc(var(--border) / 4);

		background-color: #000;
		background-image: radial-gradient(
			circle at center,
			#fff0 0%,
			#fff3 1px,
			transparent,
			transparent 100%
		);
		border-radius: 50%;
		content: '';
		height: var(--diameter);
		left: calc(-0.6 * var(--border));
		position: absolute;
		top: calc(calc(100% - var(--diameter)) / 2);
		width: var(--diameter);
	}
	&::after {
		--diameter: calc(var(--border) / 1.5);

		border-radius: 50%;
		box-shadow: 0 0 2px inset #fff;
		content: '';
		height: var(--diameter);
		position: absolute;
		right: calc(-0.85 * var(--border));
		top: calc(calc(100% - var(--diameter)) / 2);
		width: var(--diameter);
	}
}

[data-shape='iphone'] {
	--base-unit: 25ch;
	--border: calc(var(--base-unit) / 40);
	--border-radius: calc(var(--base-unit) * 0.1);

	aspect-ratio: 16 / 9;
	background-color: black;
	border: var(--border) solid #000;
	border-radius: var(--border-radius);
	box-shadow: 0 0 calc(var(--border) / 4) #000;
	position: relative;
	width: var(--base-unit);

	img:first-child {
		border-radius: var(--border-radius);
	}

	&::before {
		--diameter: calc(var(--border) * 1.5);

		background-color: #000;
		background-image: radial-gradient(
			circle at 40% 90%,
			#fff0 0%,
			#fff3 1px,
			transparent,
			transparent var(--border)
		);
		border-top-right-radius: var(--border);
		border-bottom-right-radius: var(--border);
		content: '';
		height: 50%;
		left: 0;
		position: absolute;
		top: 25%;
		width: var(--diameter);
	}
	/** @todo add buttons */
}
[data-shape='ipad'] {
	--base-unit: min(40ch, 75vw);
	--border: calc(var(--base-unit) / 15);

	aspect-ratio: 4 / 3;
	background-color: black;
	border: var(--border) solid #fff;
	border-radius: calc(var(--base-unit) * 0.033);
	box-shadow: 0 0 calc(var(--border) / 4) #000;
	position: relative;
	margin-left: calc(var(--border) / 2);
	margin-top: calc(var(--border) / 2);
	width: var(--base-unit);

	& img:first-child {
		border: 1px solid #000;
		border-radius: 0.2rem;
	}

	&::before {
		--diameter: calc(var(--border) / 4);

		background-color: #000;
		background-image: radial-gradient(
			circle at center,
			#fff0 0%,
			#fff3 1px,
			transparent,
			transparent 100%
		);
		border-radius: 50%;
		content: '';
		height: var(--diameter);
		left: calc(-0.6 * var(--border));
		position: absolute;
		top: calc(calc(100% - var(--diameter)) / 2);
		width: var(--diameter);
	}
	&::after {
		--diameter: calc(var(--border) / 1.5);

		border-radius: 50%;
		box-shadow: 0 0 2px inset #000;
		content: '';
		height: var(--diameter);
		position: absolute;
		right: calc(-0.85 * var(--border));
		top: calc(calc(100% - var(--diameter)) / 2);
		width: var(--diameter);
	}
}
[data-shape='laptop'] {
	--base-unit: min(40ch, 75vw);
	--border: calc(var(--base-unit) / 20);

	background-color: black;
	border: var(--border) solid #333;
	border-left-width: calc(var(--border) / 2);
	border-right-width: calc(var(--border) / 2);
	border-radius: calc(var(--base-unit) * 0.033);
	box-shadow: 0 0 calc(var(--border) / 4) #000;
	position: relative;
	margin: calc(var(--border) * 1.25) auto;
	width: var(--base-unit);

	&::before {
		background: #222;
		background-image: linear-gradient(to bottom, #fff3, #0003);
		border-bottom-left-radius: var(--border);
		border-bottom-right-radius: var(--border);
		border-top-left-radius: calc(var(--border) / 4);
		border-top-right-radius: calc(var(--border) / 4);
		box-shadow: 0 0 calc(var(--border) / 4) #000;
		content: '';
		height: var(--border);
		position: absolute;
		right: -10%;
		bottom: calc(-1.5 * var(--border));
		width: 120%;
	}
	&::after {
		background-image: linear-gradient(to top, #fff6, #0003);
		border-bottom-left-radius: calc(var(--border) / 4);
		border-bottom-right-radius: calc(var(--border) / 4);
		content: '';
		height: calc(var(--border) / 2);
		position: absolute;
		left: 35%;
		bottom: calc(-1 * var(--border));
		width: 30%;
	}
}
[data-shape='monitor'] {
	--base-unit: min(30ch, 56.25vw);
	--border: calc(var(--base-unit) / 40);

	aspect-ratio: 16 / 9;
	background-color: black;
	border: var(--border) solid #000;
	border-bottom-width: calc(var(--border) * 2);
	border-radius: calc(var(--base-unit) * 0.01);
	box-shadow: 0 0 calc(var(--border) / 4) #000;
	margin-bottom: calc(var(--base-unit) * 0.15);
	position: relative;
	width: var(--base-unit);

	&::before {
		background-color: #000;
		box-shadow: 0 0 calc(var(--border) / 4) #000;
		content: '';
		height: 35%;
		position: absolute;
		left: 45%;
		bottom: -27.5%;
		width: 10%;
		z-index: -1;
	}
	&::after {
		background-color: #000;
		box-shadow: 0 0 calc(var(--border) / 4) #000;
		border-radius: var(--border);
		content: '';
		height: 5%;
		position: absolute;
		left: 25%;
		bottom: -32.5%;
		width: 50%;
	}
}
[data-shape='hardback'] {
	display: inline-block;
	position: relative;
	margin: 0 auto;

	&::before {
		background: linear-gradient(
			90deg,
			#0003 0%,
			#0003 0.5%,
			#fff3 0.5%,
			#fff3 2%,
			#0003 3%,
			#fff3 5%,
			transparent 5%,
			transparent 100%
		);
		border-radius: 0.25rem;
		content: '';
		height: 100%;
		position: absolute;
		width: 100%;
	}

	img:first-child {
		box-shadow: 0 0 0.5rem #000;
		border-radius: 0.25rem;
		display: block;
		height: auto;
		width: 30ch;
	}
}
[data-overlapping='tv-monitor'] {
	aspect-ratio: 4 / 3;

	[data-shape='tv'] {
		/* @note compensating for the added height from the overlapping monitor */
		margin-bottom: calc(var(--border) * 12);
	}

	[data-shape='monitor'] {
		bottom: 5%;
	}
}
[data-overlapping='ipad-ipod'] {
	aspect-ratio: 4 / 3;

	/* @note compensating for the added height from the ipod */
	[data-shape='ipad'] {
		margin-bottom: 1.5ch;
	}

	[data-shape='ipod'] {
		bottom: 7.5%;
		right: 1.25%;
	}
}
/* </SPECIFIC-ELEMENTS/SHAPES> */
.hero {
	align-items: center;
	background-image: linear-gradient(
		to bottom right,
		rgb(215, 215, 215),
		rgb(178, 178, 178)
	);
	display: flex;
	flex-wrap: wrap;
	gap: var(--gap);
	justify-content: center;

	.col {
		display: flex;
		flex-direction: column;
		gap: var(--gap);
		padding: 0 var(--gap);
		width: var(--width-text-length);
	}
}

/** @note 40rem (text width) + 25rem (headshot width) */
@media (max-width: 69rem) {
	.hero h1 {
		text-align: center;
	}
	.hero {
		padding-bottom: var(--gap);
	}
}

body > footer {
	background-color: var(--color-black);
	color: var(--color-white);
	display: flex;
	font-size: 0.8rem;
	flex-direction: column;
	gap: var(--gap);
	font-family: var(--font-default);
	justify-content: center;
	padding: var(--gap);
	padding-top: calc(var(--gap) * 1.5);
	text-align: center;
}
